/* @media only screen and (max-width: 640px) and (min-width: 360px) {
    .cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .cont-1{
        width: 100%;
        border: 1px solid red;
    }
} */